// FONT
$font-text: 'MS Sans Serif', 'Arial', sans-serif;
$font-title: 'MS Sans Serif', 'Arial', sans-serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #000080;
$color-highlight: #1084d0;
$color-hover: #000e7a;
$color-grey: #c3c7cb;
$color-grey-verylight: #dfdfdf;
$color-grey-light: #c0c0c0;
$color-grey-dark: #868a8e;

$color-background: #008080;

// SURFACES & ELEMENTS
$window-face: $color-grey;
$button-face: $color-grey;
$button-highlight: $color-white;
$button-shadow: $color-grey-dark;
$button-border: $color-black;

// TEXT
$text-color: $color-black;
$text-disabled: $color-grey-dark;

// Wrapper
$wrapper: 1512px;

// Shadow
/* shadow-S */
$shadow-s: 0px 2px 16px 0px rgba($color-black, 0.22);

/* shadow-M */
$shadow-m: 0px 2px 16px 0px $color-black;

/* shadow-L */
$shadow-l: 0 2px 32px 0 rgba($color-black, 0.18);

// Spacing
$spacing: 60px;
$spacing-min: 20px;

// Animation
$animation: 300ms;