// FONT
$font-text: 'MS Sans Serif', 'Arial', sans-serif;
$font-title: 'MS Sans Serif', 'Arial', sans-serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #000080;
$color-highlight: #1084d0;

$color-grey-dark: #808080;
$color-grey-light: #c0c0c0;
$color-grey-verylight: #dfdfdf;

$color-background: #008080;
$color-active-caption: #000080;
$color-inactive-caption: #808080;

// SURFACES & ELEMENTS
$window-face: $color-grey-light;
$button-face: $color-grey-light;
$button-highlight: $color-white;
$button-shadow: $color-grey-dark;
$button-border: #404040;

// TEXT
$text-color: $color-black;
$text-disabled: $color-grey-dark;

// Wrapper
$wrapper: 1512px;

// Shadow
/* shadow-S */
$shadow-s: 0px 2px 16px 0px rgba($color-black, 0.22);

/* shadow-M */
$shadow-m: 0px 2px 16px 0px $color-black;

/* shadow-L */
$shadow-l: 0 2px 32px 0 rgba($color-black, 0.18);

// Spacing
$spacing: 60px;
$spacing-min: 20px;

// Animation
$animation: 300ms;