@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.t_AboutWindow {
   display: flex;
   flex: 1;
   height: 100%;
   background-color: $window-face;
   @include mixins.border-flat;
   box-sizing: border-box;
   padding: 2px;
   width: fit-content;

   &_notepad {
      flex: 1;
      background-color: $color-white;
      color: $text-color;
      font-size: 14px;
      padding: 8px;
      overflow: auto;
      height: 100%;
      box-sizing: border-box;

      scrollbar-color: #c0c0c0 #ffffff;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
         width: 16px;
         height: 16px;
      }

      &::-webkit-scrollbar-thumb {
         background: linear-gradient(145deg, #b0b0b0, #f0f0f0);
         border: 1px solid #808080;
      }

      &::-webkit-scrollbar-track {
         background-color: #e0e0e0;
      }
   }

   &_title {
      @include typography.body-bold;
      margin-bottom: 16px;
   }

   &_description {
      @include typography.body;
      margin-bottom: 8px;
      line-height: 1.4;
   }

   &_footer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end
   }

   &_download {
      @include typography.body;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      padding: 2px 5px;
      margin-right: 2px;
      max-width: fit-content;
      height: 32px;
      margin-top: 16px;
   }
}