@use '../../Settings/variables' as *;
@use '../../Tools/mixins';
@use '../../Tools/typography';

.t_ExperiencesWindow {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: $window-face;
   @include mixins.border-flat;
   padding: 4px;
   box-sizing: border-box;
   width: fit-content;

   &_title,
   &_dates {
      @include typography.body-bold;
      margin-bottom: 6px;
   }

   &_description {
      line-height: 1.4;
   }

   &_content {
      flex: 1;
      background-color: $color-white;
      border: 2px inset $color-grey-verylight;
      overflow-y: auto;
      padding: 8px;
      margin-top: 4px;
   }
}