@use '../../Settings/variables' as *;
@use '../../Tools/mixins';
@use '../../Tools/typography';

.t_ProjectsWindow {
   display: flex;
   flex-direction: column;
   height: 100%;
   background-color: $window-face;
   @include mixins.border-flat;
   padding: 4px;
   box-sizing: border-box;

   &_content {
      flex: 1;
      background-color: $color-white;
      border: 2px inset $color-grey-verylight;
      overflow-y: auto;
      padding: 8px;
      margin-top: 4px;
   }

   &_title {
      @include typography.body-bold;
      margin-bottom: 6px;
   }

   &_shortDescription {
      @include typography.body-bold;
      font-style: italic;
      margin-bottom: 8px;
   }

   &_longDescription {
      line-height: 1.4;
      margin-bottom: 8px;
   }

   &_technologies {
      @include typography.body;
      margin-top: 16px;
      margin-bottom: 16px;
   }

   &_realizations {
      margin-top: 8px;

      ul {
         padding-left: 20px;
         list-style-type: disc;

         li {
            margin-bottom: 8px;
         }
      }
   }

   &_buttons {
      display: flex;
      flex-direction: row;
      gap: 8px;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-end;
   }

   &_button {
      @include mixins.border-raised;
      @include typography.body;

      cursor: pointer;
      background-color: $button-face;
      color: $text-color;
      padding: 7px 20px 5px 20px;
      border: none;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      max-width: fit-content;
      margin-top: 16px;

      &:active {
         @include mixins.border-pressed;
      }

      &:disabled {
         @include mixins.border-raised;

         cursor: default;
         color: $text-disabled;
         background-color: $button-face;
         opacity: 0.8;
      }

      &:focus,
      &:focus-visible {
         outline: none;

         &::after {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            border: 1px dotted $color-black;
            pointer-events: none;
         }
      }
   }
}