@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';

.p_Desktop {
   position: relative;
   height: 100%;
   width: 100%;

   &_background {
      width: 100%;
      height: 100%;
   }

   &_image {
      position: absolute;
      top: calc(50% - 32px);
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
   }
}