@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';

.p_Login {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}