@use '../../Settings/variables' as *;

.m_SkillsChecklist {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 13px;
   display: flex;
   flex-wrap: wrap;
   gap: 6px 24px;

   &_item {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 45%;
      box-sizing: border-box;

      input[type='checkbox'] {
         accent-color: $color-highlight;
         width: 14px;
         height: 14px;
      }

      label {
         cursor: default;
      }
   }
}