@use '../../Settings/variables' as *;
@use '../../Tools/mixins';
@use '../../Tools/typography';

.m_TaskList {
   display: flex;
   flex-direction: row;
   height: 100%;
   width: 100%;
   overflow: hidden;
}