@use '../../Settings/variables' as *;
@use '../../Tools/typography';
@use '../../Tools/mixins';

.m_TitleBar {
   @include typography.body-bold;

   cursor: grab;
   background: linear-gradient(90deg, $color-blue, $color-highlight);
   height: 24px;
   padding: 2px 4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: $color-white;
   user-select: none;

   &:active {
      cursor: grabbing;
   }

   &_title {
      color: $color-white;
      font-weight: bold;
      text-shadow: 1px 1px 0 $color-black;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
   }

   &_controls {
      display: flex;
      gap: 3px;

      button {
         @include mixins.border-raised;

         width: 16px;
         height: 16px;
         padding: 0;
         background-color: $button-face;
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: bold;
         line-height: 0;
         cursor: pointer;

         &:active {
            @include mixins.border-sunken;
         }
      }
   }
}