@use '../Settings/variables' as *;
@use '../Settings/responsive_variables';
@use '../Tools/typography';

// Padding
@mixin paddingWrapper {
   padding-right: 20px;
   padding-left: 20px;

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      padding-right: 96px;
      padding-left: 96px;
   }
}

// Wrapper
@mixin wrapper($size: $wrapper) {
   @include paddingWrapper;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   width: 100%;
   max-width: $size;
}

// Windows 95

// Focus
@mixin focus {
   outline: none;

   &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      pointer-events: none;
      border: 1px dotted $color-black;
   }
}

// Borders
// Border mixins
@mixin border-raised {
   box-shadow:
      inset 1px 1px 0 1px $button-highlight,
      inset 0 0 0 1px $button-shadow,
      1px 1px 0 0 $button-border;
}

@mixin border-pressed {
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0 0 $button-shadow,
      inset -1px -1px 0 0 $button-face;
}

// 3D sunken border
@mixin border-sunken {
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0px 0px $button-shadow,
      .5px .5px 0px .5px $button-highlight;
}

// Window-style
@mixin border-window {
   box-shadow:
      inset .5px .5px 0px .5px $button-highlight,
      inset 0 0 0 1px $button-shadow,
      1px 0px 0 0px $button-border,
      1px 1px 0 0px $button-border;
}

// Flat borders
@mixin border-flat {
   padding: 6px;
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0px 0px $button-shadow,
      .5px .5px 0px .5px $button-highlight;
}

// Tabs
// Tab border
@mixin tab {
   cursor: pointer;
   background-color: $button-face;
   box-shadow:
      inset 0 1px 0 0 $button-highlight,
      2px 1px 0 -1px $button-shadow,
      2px 0 0 -1px $button-border,
      3px 1px 0 -1px $button-border;
}

// Active tab
@mixin tab-active {
   box-shadow:
      inset 0 1px 0 0 $button-highlight,
      -2px 1px 0 -1px $button-face,
      -0.5px 3px 0 0.5px $button-face,
      -2px 2px 0 0 $button-highlight,
      -2px 0 0 -1px $button-highlight,
      1px 2px 0 0 $button-shadow,
      2px 0 0 -1px $button-border,
      2px 2px 0 0 $button-border;
}

// Tab window content
@mixin tab-content {
   padding: 12px;
   background-color: $window-face;
   border-top: 1px solid $button-highlight;
   box-shadow:
      inset .5px .5px 0px .5px $button-highlight,
      inset 0 0 0 1px $button-shadow,
      1px 0px 0 0px $button-border,
      0px 1px 0 0px $button-border,
      1px 1px 0 0px $button-border;
}

// Input
@mixin border-input {
   outline: none;
   border: none;
   padding: 3px 3px 5px 3px;
   color: $text-color;
   background-color: $color-white;
   border-top: 1px solid $button-shadow;
   border-right-width: 0;
   border-bottom-width: 0;
   border-left: 1px solid $button-shadow;
   box-shadow:
      inset -1px -1px 0 0 $button-face,
      inset 1px 1px 0 0 $button-border, .5px .5px 0 .5px $button-highlight;
}

// Section fieldset
@mixin section-fieldset {
   border-top: 2px groove $color-grey-lightest;
   border-left: 2px groove $color-grey-lightest;
   border-bottom: 1px solid $color-grey-dark;
   border-right: 1px solid $color-grey-dark;
   box-shadow: 1px 1px 0 0 $color-grey-lightest;
}