@use '../Settings/variables' as *;
@use '../Settings/responsive_variables';
@use '../Tools/typography';

// Padding
@mixin paddingWrapper {
   padding-right: 20px;
   padding-left: 20px;

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      padding-right: 96px;
      padding-left: 96px;
   }
}

// Wrapper
@mixin wrapper($size: $wrapper) {
   @include paddingWrapper;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   width: 100%;
   max-width: $size;
}

// Border mixins
@mixin border-raised {
   box-shadow:
      inset -1px -1px $button-shadow,
      inset 1px 1px $button-highlight;
}

// 3D sunken border
@mixin border-sunken {
   box-shadow:
      inset -1px -1px $button-highlight,
      inset 1px 1px $button-shadow;
}

// Window-style
@mixin border-window {
   box-shadow:
      inset -1px -1px $button-shadow,
      inset 1px 1px $button-highlight,
      inset -2px -2px $color-black,
      inset 2px 2px $color-grey-verylight;
}

// Flat borders
@mixin border-flat {
   border: 1px solid $button-shadow;
   background-color: $button-face;
}