@use '../Settings/variables' as *;
@use '../Settings/responsive_variables';
@use '../Tools/typography';

// Padding
@mixin paddingWrapper {
   padding-right: 20px;
   padding-left: 20px;

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      padding-right: 96px;
      padding-left: 96px;
   }
}

// Wrapper
@mixin wrapper($size: $wrapper) {
   @include paddingWrapper;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   width: 100%;
   max-width: $size;
}

// Windows 95 borders
// Border mixins
@mixin border-raised {
   box-shadow:
      inset 1px 1px 0 1px $button-highlight,
      inset 0 0 0 1px $button-shadow,
      1px 1px 0 0 $button-border;
}

@mixin border-pressed {
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0 0 $button-shadow,
      inset -1px -1px 0 0 $button-face;
}

// 3D sunken border
@mixin border-sunken {
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0px 0px $button-shadow,
      .5px .5px 0px .5px $button-highlight;
}

// Window-style
@mixin border-window {
   box-shadow:
      inset .5px .5px 0px .5px $button-highlight,
      inset 0 0 0 1px $button-shadow,
      1px 0px 0 0px $button-border,
      1px 1px 0 0px $button-border;
}

// Flat borders
@mixin border-flat {
   padding: 6px;
   box-shadow:
      inset 0px 0px 0px 0px,
      inset 1px 1px 0px 0px $button-shadow,
      .5px .5px 0px .5px $button-highlight;
}

// Input
@mixin border-input {
   outline: none;
   border: none;
   padding: 3px 3px 5px 3px;
   color: $text-color;
   background-color: $color-white;
   border-top: 1px solid $button-shadow;
   border-right-width: 0;
   border-bottom-width: 0;
   border-left: 1px solid $button-shadow;
   box-shadow:
      inset -1px -1px 0 0 $button-face,
      inset 1px 1px 0 0 $button-border, .5px .5px 0 .5px $button-highlight;
}