@use '../Settings/variables' as *;
@use '../Settings/responsive_variables';

// Utils
@mixin fontStyle($size, $weight) {
   font-size: $size;
   font-weight: $weight;
}

// Text
@mixin body {
   font-family: $font-text;
   font-size: 12px;
   font-weight: 400;
   line-height: 1;
   color: $color-black;
}

@mixin body-bold {
   @include body;
   font-weight: bold;
}

@mixin body-s {
   @include fontStyle(10px, 400);
}

@mixin body-s-bold {
   @include fontStyle(10px, 700);
}

@mixin body-m {
   @include fontStyle(14px, 400);
}

@mixin body-m-bold {
   @include fontStyle(14px, 700);
}

@mixin body-l {
   @include fontStyle(16px, 400);
}

@mixin body-l-bold {
   @include fontStyle(16px, 700);
}

// Titles
@mixin title {
   font-family: $font-title;
}

@mixin h1 {
   @include title;
   @include fontStyle(32px, 400);

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      @include fontStyle(32px, 400);
   }
}

@mixin h2 {
   @include title;
   @include fontStyle(24px, 400);

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      @include fontStyle(24px, 400);
   }
}

@mixin h3 {
   @include title;
   @include fontStyle(22px, 400);

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      @include fontStyle(22px, 400);
   }
}

@mixin h4 {
   @include title;
   @include fontStyle(18px, 400);

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      @include fontStyle(18px, 400);
   }
}

@mixin h5 {
   @include fontStyle(18px, 700);

   @media screen and (min-width: responsive_variables.$screen-l-min) {
      @include fontStyle(18px, 700);
   }
}