@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';

.o_LoginForm {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   // width: 300px;
   z-index: 20;

   &_window {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
   }

   &_icon {}

   &_form {}

   &_title {}

   &_fields {}

   &_row {}

   &_label {}

   &_input {}

   &_buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
}