@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.o_LoginForm {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 450px;
   max-width: 80%;
   z-index: 20;

   &_window {
      @include mixins.border-flat;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
   }

   &_form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      align-items: flex-start;
   }

   &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &_header {
      display: flex;
      flex-direction: row;
      gap: 16px;
   }

   &_title {
      @include typography.body;
   }

   &_fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: fit-content;
   }

   &_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
   }

   &_input {
      @include mixins.border-input;
   }

   &_label {
      white-space: nowrap;
      flex-grow: 1;
   }

   &_buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 8px;
      width: 100%;
   }

   &_message-error,
   &_message-success {
      @include typography.body-bold;
   }

   &_message-error {
      color: red;
   }

   @media screen and (max-width: responsive_variables.$screen-xxxs-max) {
      &_input {
         max-width: 120px;
      }
   }

   @media screen and (min-width: responsive_variables.$screen-xs-min) {
      &_form {
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
      }

      &_buttons {
         flex-direction: column;
         justify-content: flex-start;
         width: fit-content;
      }
   }
}