@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.o_LoginForm {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 450px;
   z-index: 20;

   &_window {
      @include mixins.border-flat;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: 140px;
   }

   &_form {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;
      align-items: flex-start;
   }

   &_content {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &_title {
      @include typography.body;
   }

   &_fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
   }

   &_input {
      @include mixins.border-input;
   }

   &_buttons {
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
}