@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';

.o_TaskBar {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40px;
   // background-color: $color-darkBlue;
   // border-top: 2px solid $color-white;
   // border-left: 2px solid $color-white;
   // border-right: 2px solid $color-darkBlue;
   // border-bottom: 2px solid $color-darkBlue;
   display: flex;
   align-items: center;
   padding: 0 10px;
}