@use '../../Settings/variables' as *;
@use '../../Settings/responsive_variables';
@use '../../Tools/typography';
@use '../../Tools/mixins';

.o_TaskBar {
   @include mixins.border-window;

   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 32px;
   display: flex;
   align-items: center;
   padding: 2px;
   z-index: 998;
   background-color: $window-face;

   &_start {
      @include typography.body;

      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      padding: 2px 5px;
      margin-right: 2px;
      max-width: fit-content;
      height: 100%;
   }

   &_tasks {
      padding-left: 0px;
      margin-left: 2px;
      margin-right: 2px;
      width: 100%;
      height: 100%;
      overflow: hidden;
   }

   &_right {
      @include typography.body;
      @include mixins.border-sunken;

      padding-top: 2px;
      padding-right: 6px;
      padding-left: 6px;
      padding-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 100%;
   }
}