@use '../../Settings/variables' as *;
@use '../../Tools/mixins';

.o_Window {
   @include mixins.border-window;

   background-color: $window-face;
   border: none;
   padding: 2px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;

   &_content {
      @include mixins.border-flat;

      background-color: $window-face;
      padding: 8px;
   }
}