@use '../../Settings/variables' as *;
@use '../../Tools/mixins';

.o_Window {
   @include mixins.border-window;

   background-color: $window-face;
   border: none;
   padding: 2px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;

   &_content {
      @include mixins.border-flat;

      background-color: $window-face;
      padding: 8px;
   }

   &_desktop {
      // position: absolute;
      // top: calc(50% - 32px);
      // left: 50%;
      // transform: translate(-50%, -50%);
      // width: 450px;
      // z-index: 20;
      position: absolute;
      width: 450px;
      z-index: 20;
   }
}