@use '../../Settings/variables' as *;
@use '../../Tools/typography';
@use '../../Tools/mixins';

.a_Button {
   @include mixins.border-raised;
   @include typography.body;

   cursor: pointer;
   background-color: $button-face;
   color: $text-color;
   padding: 7px 20px 5px 20px;
   border: none;
   box-sizing: border-box;
   text-align: center;

   &:active {
      @include mixins.border-sunken;

      padding: 4px 11px 2px 13px;
   }

   &:disabled {
      @include mixins.border-raised;

      cursor: default;
      color: $text-disabled;
      background-color: $button-face;
      opacity: 0.8;
   }

   &:focus-visible {
      outline: 1px dotted $color-black;
      outline-offset: -4px;
   }
}