@use '../../Settings/variables' as *;
@use '../../Tools/mixins';
@use '../../Tools/typography';

.a_MenuItem {
   $self: &;

   position: relative;
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 6px;
   color: $text-color;
   width: 100%;
   height: 100%;

   &:hover,
   &:active,
   &:focus {
      background-color: $color-hover;

      #{$self}_label {
         color: $color-white;
      }
   }

   &_label {
      @include typography.body;
   }

   &_logout {
      border-top: 1px solid $button-shadow;
      box-shadow: inset 0 1px 0 0 $button-highlight;
   }
}