@use '../../Settings/variables' as *;
@use '../../Tools/mixins';

.a_Control {
   @include mixins.border-raised;

   width: 16px;
   height: 16px;
   padding: 0;
   background-color: $button-face;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

   &:active {
      @include mixins.border-sunken;
   }

   &_icon {
      width: 10px;
      height: 10px;
   }
}